.FRAME_493_48 {
  z-index: 1;
  width: min(508px, 100%);
  min-height: 186px;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 14px;
}
